
.movie-info {
  color: rgba(255, 250, 240, 0.99);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
//.movie-info h1{
//  margin-top: 0 ;
//}
.black{
  margin-top: 0 ;
  color: white;
}
.light{
  margin-top: 0 ;
  color: black;
}
.movie-info span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #081349;
  border-radius: 4px;
  width: 30px;
  height: 25px;
  margin-right: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}
.movie-info span.red {
  color: #d20101;
  padding: 3px;
}
.movie-info span.orange {
  color: orange;
  padding: 3px;
  //ngh --dir dist/AngularNew-Movie-app
}
.movie-info span.green {
  color: green;
  padding: 3px;
}
